export GOOGLE_CLOUD_PROJECT=<your-project-id>
export GOOGLE_CLOUD_QUOTA_PROJECT=<your-quota-project-id>
export OTEL_RESOURCE_ATTRIBUTES=gcp.project_id=<your-project-id>,service.name=google-cloud-training,service.version=1.0.0
